<h1 class="title">Цепочки операторов rxjs</h1>
<h2>Цепочка 1</h2>
<p>Получение 3 высоких но нетяжелых покемонов :)</p>
<button mat-raised-button color="primary" (click)="start1()">START</button>

<p>----------------------------------------------------------------------</p>

<h2>Цепочка 2</h2>
<p>Получение нескрытых способностей "kabutops"</p>
<button mat-raised-button color="primary" (click)="start2()">START</button>

<p>----------------------------------------------------------------------</p>

<h2>Цепочка 3</h2>
<p>Получение потока характеристик покемонов из списка ['pikachu', 'metapod', 'drifloon']</p>
<p>Но вообще-то получение потока характеристик только первого покемона (exhaustMap)</p>
<button mat-raised-button color="primary" (click)="start3()">START</button>

<h1 class="title">Промисифицированный таймаут</h1>
<p></p>
<button mat-raised-button color="primary" (click)="start4()">START</button>
