@import '../variables.scss';
@import '../mixins.scss';

body {
  // custom button create style //
  .mdc-button.mat-create:disabled {
    color: var(--mdc-protected-button-disabled-label-text-color);
    background-color: var(--mdc-protected-button-disabled-container-color);
  }

  .mdc-button.mat-create,
  .mat-mdc-stroked-button.mat-create {
    color: $info-color;
  }
  .mat-mdc-unelevated-button.mat-create:hover,
  .mat-mdc-raised-button.mat-create:hover {
    color: #f0fff3;
    background-color: $info-color;
  }

  .mat-mdc-unelevated-button:not(:disabled, :hover).mat-create,
  .mat-mdc-raised-button.mat-create,
  .mat-mdc-fab.mat-create,
  .mat-mdc-mini-fab.mat-create {
    color: #f0fff3;
    background-color: $info-color;
  }
  .mat-mdc-icon-button.mat-create {
    color: $info-color;
  }

  // custom button primary-active style //
  .mdc-button.mat-primary-active:disabled {
    color: var(--mdc-protected-button-disabled-label-text-color);
    background-color: var(--mdc-protected-button-disabled-container-color);
  }

  .mdc-button.mat-primary-active,
  .mat-mdc-stroked-button.mat-primary-active {
    color: $primary-color;
  }
  .mat-mdc-unelevated-button.mat-primary-active:hover,
  .mat-mdc-raised-button.mat-primary-active:hover {
    color: $primary-color;
    background-color: $primary-active-color;
  }

  .mat-mdc-unelevated-button:not(:disabled, :hover).mat-primary-active,
  .mat-mdc-raised-button.mat-primary-active,
  .mat-mdc-fab.mat-primary-active,
  .mat-mdc-mini-fab.mat-primary-active {
    color: $primary-color;
    background-color: $primary-active-color;
  }
  .mat-mdc-icon-button.mat-primary-active {
    background-color: $primary-active-color;
  }
}

.button,
.mdc-button {
  height: 50px !important;
  padding: 15px 20px;

  &_fixed {
    position: fixed !important;
    bottom: 15px;
    right: 15px;
    z-index: 10;
  }

  &__spinner-container {
    @include flexCenter;
    column-gap: 10px;
  }

  &__icon {
    display: block !important;
    transform: scale(2);
  }
}

.icon-button {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__icon {
    transform: scale(1.5);
    color: $accent-color;
  }
}
