@import '../../../styles/variables.scss';

.meetup-form-card {
  &__content-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }

  &__title {
    font-size: 24px;
    text-align: center;
    color: $font-text-color-bold;
  }

  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }

  &__row {
    display: flex;
    column-gap: 15px;
  }

  &__name {
  }

  &__date {
    flex-grow: 1;
  }

  &__duration {
    flex-grow: 1;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    column-gap: 15px;
  }
}

.button {
  &__spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
  }
}
