<header class="header">
  <mat-toolbar class="toolbar">
    <span class="logo">MeetUps</span>
    <nav class="navigation">
      <a mat-button routerLink="/meetups">Meetups</a>

      <a mat-button *ngIf="this.authService.isAdmin" routerLink="/users"
        >Users</a
      >

      <a mat-button *ngIf="!this.authService.isLoggedIn()" routerLink="/login">
        Log in
      </a>

      <a
        mat-button
        *ngIf="this.authService.isLoggedIn()"
        routerLink="/login"
        (click)="authService.logout()"
      >
        Log out
      </a>
    </nav>
  </mat-toolbar>
</header>
