<form #login="ngForm" (submit)="onSubmit()" class="form">
  <p *ngIf="errorMessage">
    {{ errorMessage }}
  </p>

  <div class="input-group">
    <mat-form-field class="input">
      <mat-label>Email</mat-label>
      <input
        type="text"
        [(ngModel)]="email"
        (input)="onInput()"
        required
        matInput
        [ngModelOptions]="{ standalone: true }"
        placeholder="Enter email ..."
      />
    </mat-form-field>
  
    <mat-form-field class="input">
      <mat-label>Password</mat-label>
      <input
        type="password"
        [(ngModel)]="password"
        (input)="onInput()"
        required
        matInput
        [ngModelOptions]="{ standalone: true }"
        placeholder="Enter password ..."
      />
    </mat-form-field>
  </div>


  <div class="action-group">
    <a class="link">How to create account?</a>

    <button
      class="button"
      mat-raised-button
      color="primary"
      [disabled]="login.invalid"
      type="submit"
    >
      <span *ngIf="!isLoading; else elseBlock">Login</span>
      <ng-template #elseBlock> Loading ... </ng-template>
    </button>
  </div>
</form>
