@import '../../../styles/variables.scss';

.form {
  min-width: 450px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 50px;

  .input-group {
    display: flex;
    flex-direction: column;
  }

  .action-group {
    position: relative;
    display: flex;
    justify-content: space-between;
    column-gap: 50px;

    .link {
      width: 40%;
      color: $info-color;
      text-decoration: underline;
    }

    .button {
    }
  }
}

.input {
  &.ng-touched.ng-invalid {
    border-color: $warn-color;
  }
}

.error {
  color: $warn-color;
  text-align: center;
}
