<form [formGroup]="loginForm" (submit)="onSubmit()" class="form">
  <p *ngIf="errorMessage" class="error">
    {{ errorMessage }}
  </p>

  <div class="input-group">
    <mat-form-field class="input">
      <mat-label>Email</mat-label>
      <input
        type="text"
        formControlName="email"
        (input)="onInput()"
        required
        matInput
        placeholder="Enter email ..."
      />
      <mat-hint
        *ngIf="loginForm.get('email')!.getError('invalidEmail')"
        class="error"
      >
        {{ loginForm.get("email")!.getError("invalidEmail") }}
      </mat-hint>
    </mat-form-field>

    <mat-form-field class="input">
      <mat-label>Password</mat-label>
      <input
        type="text"
        formControlName="password"
        (input)="onInput()"
        required
        matInput
        placeholder="Enter password ..."
      />
      <mat-hint
        *ngIf="loginForm.get('password')!.getError('invalidPassword')"
        class="error"
      >
        {{ loginForm.get("password")!.getError("invalidPassword") }}
      </mat-hint>
    </mat-form-field>
  </div>

  <div class="action-group">
    <a class="link">How to create account?</a>

    <button
      class="button"
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!loginForm.valid"
    >
      <span *ngIf="!isLoading; else elseBlock">Login</span>
      <ng-template #elseBlock> Loading ... </ng-template>
    </button>
  </div>
</form>
