// ------ Custom palettes ------ //
$custom-purple-palette: (
  50: #eae8ef,
  100: #c9c5d7,
  200: #a69fbc,
  300: #8279a1,
  400: #675c8c,
  500: #4c3f78,
  600: #453970,
  700: #3c3165,
  800: #33295b,
  900: #241b48,
  A100: #9d89ff,
  A200: #7356ff,
  A400: #4823ff,
  A700: #3309ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$custom-orange-palette: (
  50: #f6ebe5,
  100: #eaccbe,
  200: #dcaa93,
  300: #cd8867,
  400: #c36f47,
  500: #b85526,
  600: #b14e22,
  700: #a8441c,
  800: #a03b17,
  900: #912a0d,
  A100: #ffccc1,
  A200: #ffa28e,
  A400: #ff795b,
  A700: #ff6441,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$custom-blue-palette: (
  50: #e0f0f3,
  100: #b3dbe0,
  200: #80c3cb,
  300: #4daab6,
  400: #2698a7,
  500: #008697,
  600: #007e8f,
  700: #007384,
  800: #00697a,
  900: #005669,
  A100: #98e9ff,
  A200: #65deff,
  A400: #32d3ff,
  A700: #19ceff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
