@import "../../../styles/variables.scss";

.meetup-card {
  background-color: $default-color;

  .card-header {
    padding: 16px 16px 0 16px;
    display: flex;
    column-gap: 50px;
    justify-content: space-between;

    .title-column {
      display: flex;
      align-items: center;
      column-gap: 20px;
    }

    .meta-column {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
    }

    .title {
      font: $font-title;
    }

    .subscribers-label {
      color: $accent-color;
    }
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    .description {
    }

    .details-container {
      display: flex;
      flex-direction: column;
      row-gap: 20px;

      .details-group {
        .subtitle {
          font-size: 20px;
          color: $font-text-color-bold;
        }

        .paragraph {
        }
      }
    }
  }

  .card-footer {
    display: flex;
    justify-content: flex-end;
    column-gap: 20px;
    .button {
      height: 50px;
      padding: 15px 30px;
      display: flex;
      justify-content: center;
      align-items: center;

      &__icon {
        transform: scale(2);
        color: black;
      }
    }
  }
}
