@import "../../../styles/variables.scss";

.meetup-card {
  background-color: $default-color;

  &__header {
    padding: 16px 16px 0 16px;
    display: flex;
    column-gap: 50px;
    justify-content: space-between;
  }

  &__subscribers-label {
    color: $accent-color;
  }

  &__title {
    font: $font-title;
  }


  &__title-column {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }

  &__meta-column {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    text-align: end;
  }

  &__content-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  &__description {
  }

  &__details-container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  &__details-group {

  }

  &__subtitle {
    font-size: 20px;
    color: $font-text-color-bold;
  }

  &__paragraph {
  }

  &__card-footer {
    display: flex;
    justify-content: flex-end;
    column-gap: 20px;
  }

  &__button {
    height: 50px;
    padding: 15px 30px;
    display: flex;
    justify-content: center;
    align-items: center;


  }

  &__button-icon {
    transform: scale(2);
    color: black;
  }
}
