@import '../../../styles/variables.scss';

.user-card {
  background-color: $default-color;
  padding: 30px 15px 5px 15px;

  &__form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 10px;
  }

  &__input {
    flex-grow: 1;
  }
  
  &__actions {
    display: flex;
    column-gap: 10px;
  }
}
