@import "../../../styles/variables.scss";

.user-card {
  background-color: $default-color;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;

  &__actions {
    display: flex;
    column-gap: 10px;
  }

  &__button {
  }
}
