// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@import './styles/reset.scss';
@import './styles/palettes.scss';
@import './styles/variables.scss';

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$meetups-primary: mat.define-palette($custom-purple-palette, 800, 700, 900);
$meetups-accent: mat.define-palette($custom-orange-palette, 800, 700, 900);

// The warn palette is optional (defaults to red).
$meetups-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$meetups-theme: mat.define-dark-theme(
  (
    color: (
      primary: $meetups-primary,
      accent: $meetups-accent,
      warn: $meetups-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($meetups-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  min-height: 100vh;
}
body {
  margin: 0;
  font: $font-md;
  font-family: 'Open Sans';
  background-color: $bg-color;
  color: $font-text-color;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 115px 15px;
}

.page {
  position: relative;
  display: block;
  min-height: 80vh;

  &__login,
  &__register {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__register {
  }
}

.input {
  &.ng-touched.ng-invalid {
    border-color: $warn-color;
  }
  &.ng-touched {
    .input__error {
      opacity: 1 !important;
    }
  }

  &__error {
    opacity: 0;
    color: $warn-color;
    text-align: center;
  }
}

.auth-form {
  min-width: 450px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 50px;

  &__title {
    font: $font-title;
    text-align: center;
  }

  &__input-group {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  &__action-group {
    position: relative;
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
  }

  &__link {
    width: 40%;
    color: $info-color;
    text-decoration: underline;
  }

  &__button {
    &_full {
      flex-grow: 1;
    }
  }
}

body {
  // custom button style //
  .mdc-button {
    height: 50px !important;
    padding: 15px 20px;
  }

  // custom button create style //
  .mdc-button.mat-create:disabled {
    color: var(--mdc-protected-button-disabled-label-text-color);
    background-color: var(--mdc-protected-button-disabled-container-color);
  }

  .mdc-button.mat-create,
  .mat-mdc-stroked-button.mat-create {
    color: $info-color;
  }
  .mat-mdc-unelevated-button.mat-create:hover,
  .mat-mdc-raised-button.mat-create:hover {
    color: #f0fff3;
    background-color: $info-color;
  }

  .mat-mdc-unelevated-button:not(:disabled, :hover).mat-create,
  .mat-mdc-raised-button.mat-create,
  .mat-mdc-fab.mat-create,
  .mat-mdc-mini-fab.mat-create {
    color: #f0fff3;
    background-color: $info-color;
  }
  .mat-mdc-icon-button.mat-create {
    color: $info-color;
  }

  // custom button primary-active style //
  .mdc-button.mat-primary-active:disabled {
    color: var(--mdc-protected-button-disabled-label-text-color);
    background-color: var(--mdc-protected-button-disabled-container-color);
  }

  .mdc-button.mat-primary-active,
  .mat-mdc-stroked-button.mat-primary-active {
    color: $primary-color;
  }
  .mat-mdc-unelevated-button.mat-primary-active:hover,
  .mat-mdc-raised-button.mat-primary-active:hover {
    color: $primary-color;
    background-color: $primary-active-color;
  }

  .mat-mdc-unelevated-button:not(:disabled, :hover).mat-primary-active,
  .mat-mdc-raised-button.mat-primary-active,
  .mat-mdc-fab.mat-primary-active,
  .mat-mdc-mini-fab.mat-primary-active {
    color: $primary-color;
    background-color: $primary-active-color;
  }
  .mat-mdc-icon-button.mat-primary-active {
    background-color: $primary-active-color;
  }
}
