// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@import './styles/reset.scss';
@import './styles/palettes.scss';
@import './styles/variables.scss';

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$meetups-primary: mat.define-palette($custom-purple-palette, 800, 700, 900);
$meetups-accent: mat.define-palette($custom-orange-palette, 800, 700, 900);

// The warn palette is optional (defaults to red).
$meetups-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$meetups-theme: mat.define-dark-theme(
  (
    color: (
      primary: $meetups-primary,
      accent: $meetups-accent,
      warn: $meetups-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($meetups-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font: $font-md;
  font-family: 'Open Sans';
  background-color: $bg-color;
  color: $font-text-color;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  padding: 100px 15px 15px 15px;
}

.page {
  display: block;
  height: 100%;
}

body {
  // custom button style //
  .mdc-button {
    height: 50px !important;
    padding: 15px 20px;
  }

  .mdc-button.mat-create:disabled {
    color: var(--mdc-protected-button-disabled-label-text-color);
    background-color: var(--mdc-protected-button-disabled-container-color);
  }

  .mdc-button {
    height: 50px !important;
    padding: 15px 20px;
  }

  .mdc-button.mat-create,
  .mat-mdc-stroked-button.mat-create {
    color: $info-color;
  }
  .mat-mdc-unelevated-button.mat-create:hover,
  .mat-mdc-raised-button.mat-create:hover {
    color: #f0fff3;
    background-color: $info-color;
  }

  .mat-mdc-unelevated-button:not(:disabled, :hover).mat-create,
  .mat-mdc-raised-button.mat-create,
  .mat-mdc-fab.mat-create,
  .mat-mdc-mini-fab.mat-create {
    color: #f0fff3;
    background-color: $info-color;
  }
  .mat-mdc-icon-button.mat-create {
    color: $info-color;
  }
}
